div.nav {
    background-color: #909090;
    position: fixed;
    width: 275px;
}

li {
    padding: 5px;
    display: inline-block;
    border-width: 1px;
    border-color: black;
    border-style: solid;
}

div.img-gallery {
    top: 60px;
    position: relative;
}

div.img-gallery img {
    border-color:blue;
    border-width: 2px;
    border-style: solid;
}

div.img-gallery img:hover {
    border-color: greenyellow;
}

h1 {
    text-align: center;
    position: relative;
    top: 50px;
}